<style>
	.card-container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
	}
	
	.card {
		width: 300px;
		border: 2px solid #a844fc;
		border-radius: 10px;
		padding: 10px;
		font-family: Arial, sans-serif;
		color: #333;
	}
	
	.card-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 14px;
		color: #a844fc;
		font-weight: bold;
		padding-bottom: 5px;
		border-bottom: 2px solid #a844fc;
		background-color: #ffff;
	}
	
	.card-category {
		font-size: 14px;
		color: #a844fc;
		font-weight: bold;
	}
	
	.star-icon {
		color: #a844fc;
		font-size: 15px;
	}
	
	.card-content {
		display: flex;
		align-items: center;
		margin-top: 10px;
	}
	
	.card-image {
		width: 100px;
		height: 100px;
		border-radius: 5px;
		margin-right: 10px;
		object-fit: cover;
	}
	
	.card-details {
		flex: 1;
	}
	
	.card-title {
		font-size: 18px;
		margin: 0;
		font-weight: bold;
	}
	
	.author-info {
		display: flex;
		align-items: center;
		margin-top: 5px;
		margin-left: 15px;
	}
	
	.author-image {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		margin-right: 5px;
	}
	
	.author-name {
		font-size: 14px;
		color: #333;
	}

	.input-custom {
	max-width: 550px;
	padding: 5px 10px;
	border: 2px solid #ddd;
	border-radius: 20px;
	outline: none;
	font-size: 12px;
	color: #555;
}

	.botaotreinos{
		color: white;
		background-color: #a844fc;
		border-radius: 20px;
		padding: 5px 10px;
		text-decoration: none;
		font-size: 14px;
	}

	.mfavoritos{
		margin: 8px 0;
	}

</style>

<div class="container-fluid">

	<h1 class="titulo">
		Meus Treinos
	</h1>
	
	<div class="row">
		<div class="col-sm-6">
			<h2 class="titulo">Criados</h2>
			<input type="text" class="input-custom" placeholder="Procurar">
			<% for (let i = 0; i < treinos.length; i++) { %>
				<div class="card-container">
					<div class="card">
						<div class="card-header">
							<span class="card-category"><%= treinos[i].tipo %></span>
							<i class="bi bi-check-circle-fill icon"></i>
						</div>
						<div class="card-content">
							<img src="/public/img/treino<%= treinos[i].imagem %>.jpg" alt="Imagem do treino" class="card-image">
							<div class="card-details">
								<h3 class="card-title mb-3"><%= treinos[i].nome %></h3>
								<p class="my-0"><a class="botaotreinos" href="/editarTreino?id=<%= treinos[i].id %>">Editar Treino</a></p>
								<p class="my-3"><a class="botaotreinos" href="/verTreino?id=<%= treinos[i].id %>">Ver Treino</a></p>
							</div>
						</div>
					</div>
				</div>
			<% } %>

		</div>
		<div class="col-sm-6">
			<h2 class="titulo">Favoritos</h2>
			<input type="text" class="input-custom" placeholder="Procurar">
			<div class="card-container">
				<div class="card">
					<div class="card-header">
						<span class="card-category">Nome do tipo do treino</span>
						<i class="star-icon">★</i>
					</div>
					<div class="card-content">
						<img src="/public/img/treino1.jpg" alt="Imagem do treino" class="card-image mfavoritos">
						<div class="card-details">
							<h3 class="card-title">Nome do treino</h3>
							<div class="author-info">
								<img src="/public/img/treino1.jpg" alt="Foto do autor" class="author-image">
								<span class="author-name">Nome do criador</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card-container">
				<div class="card">
					<div class="card-header">
						<span class="card-category">Nome do tipo do treino</span>
						<i class="star-icon">★</i>
					</div>
					<div class="card-content">
						<img src="/public/img/treino1.jpg" alt="Imagem do treino" class="card-image mfavoritos">
						<div class="card-details">
							<h3 class="card-title">Nome do treino</h3>
							<div class="author-info">
								<img src="/public/img/treino1.jpg" alt="Foto do autor" class="author-image">
								<span class="author-name">Nome do criador</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card-container">
				<div class="card">
					<div class="card-header">
						<span class="card-category">Nome do tipo de treino</span>
						<i class="star-icon">★</i>
					</div>
					<div class="card-content">
						<img src="/public/img/treino1.jpg" alt="Imagem do treino" class="card-image mfavoritos">
						<div class="card-details">
							<h3 class="card-title">Nome do treino</h3>
							<div class="author-info">
								<img src="/public/img/treino1.jpg" alt="Foto do autor" class="author-image">
								<span class="author-name">Nome do criador</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
